@model Market_Project.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quntitiy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quntitiy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propricse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propricse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prosale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prosale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Productid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
